html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pulse-color {
    animation-name: pulseColor;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

@keyframes pulseColor {
    0% {
        color: #000;
    }
    50% {
        color: #c7c7c7;
    }
    100% {
        color: #000;
    }
}